
    
<% if logged_in? %>
  <div>
  <%= link_to 'Logout', logout_path, method: :delete %>
  </div>
    
  
<% else %>
 <div>
   
<%= link_to 'login', login_path %>
<%= link_to 'signup', signup_path %>
 </div>
<% end %>

